/* Uklonite margine i paddinge */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Stilizacija headera (navigacijskog bara) */
header {
  display: flex;
  justify-content: space-between; /* Poravnava logo lijevo, linkove desno */
  align-items: center; /* Poravnava sadržaj po vertikali */
  background-color: #4c009d; /* Boja pozadine */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Pozadinska slika */
.background-image-container {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Assets/week2.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Postavi iza ostalih elemenata */
}
.logo-img {
  width: 170px;
  height: auto;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  margin-left: 15px;
}

.login button {
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  margin-bottom: 10px;
}

.login button:hover {
  background-color: #37077a;
}

.logout button {
  color: white;
  border: none;
  background-color: #4c009d;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 20px;
}

.logout button:hover {
  background-color: #37077a;
}

h1 {
  margin-top: 50%;
  color: #4c1895;
}

.director-notice {
  position: relative;
  background-color: #ffefd5;
  top: 100px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ffcc00;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #555;
  z-index: 10;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.navigation-button {
  flex: 0 1 auto;
  min-width: 400px;
  max-width: none;
  font-size: 2rem;
  padding: 60px 50px;
  border: 3px solid #4c009d;
  border-radius: 8px;
  background-color: #e6d5f2;
  color: #4c009d;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 50px;
  margin-right: 50px;
}

.navigation-button:hover {
  background-color: #d1b3f2;
  transform: scale(1.05);
}
